$pink: #F099EB;
$green: #97EBBB;

$tickerHeight: 150px;
$tickerWidth: 600px;

$infoBoxHeight: $tickerHeight * 0.55;
$infoBoxWidth: 600px;

$infoBoxBackground: linear-gradient(160deg, $pink, $green);
$borderWidth: 3px;
